@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: 'Prompt', sans-serif !important; */
  font-family: "Noto Sans Thai", sans-serif !important;
}

code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  max-width: 100%;
  overflow: auto;
  display: block;
  word-wrap: break-word;
  padding: 1rem !important;
  background-color: #272a36 !important;
}

pre {
  padding: 0 !important;
  overflow: visible !important;
}

blockquote {
  @apply truncate whitespace-normal;
  color: #e6e0e9 !important;
  background: #36323b !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.nextui-c-egxOLa {
  background-color: #272a3600 !important;
  backdrop-filter: blur(5px) !important;
}

.rainbow {
  background-image: -webkit-linear-gradient(
    0deg,
    #ff802b,
    #ffef5c,
    #3cb179 56%,
    #369eff 56.1%,
    #e34ba9,
    #f2555a
  );
}

.clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: -3px;
  margin-right: -3px;
}